html {
    font-size: 20px;
    font-family: "游ゴシック";
    background-color: #FFF9EC;
}
h1 {
    font-size: 1.7rem;
    font-family: "游明朝";
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.1rem;
}