.seminar_title,
.lecture_title,
.voice_title {
    text-align: center;
}


/*セミナー内容*/
.seminar_div {
    display: flex;
    justify-content:space-between
}

.seminar_div2{
    flex-direction: column;
    text-align: center;
}

/*講義までの流れ*/

.lecture_div {
    display: flex;
}

.lecture_div p {
    padding: 100px 0 100px 45px;
    width: 680px;
}

.lecture_div img {
    padding: 0 0 35px 15px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 30px solid #C1B4D0;
    margin: 0 350px;
}

.lecture_text {
    flex-direction: column;
}

/*お客様の声*/
.base_box,
.base_box2,
.base_box3,
.base_box4 {
    position: relative;
    width: 400px;
    height: 150px;
    /* border: 1px solid black; */
}



.base_box,
.base_box3 {
    left: 150px;
}

.base_box2
{
    top: -150px;
    left: 650px;
}

.base_box3 {
    top: -50px;
}

.base_box4 {
    top: -200px;
    left: 650px;
}

.box,
.box2,
.box3,
.box4 {
    position: absolute;
}

.box {
    width: 400px;
    height: 150px;
    border-style: solid;
    border-width: thin;
    background-color: #FFEFEF;
    z-index: 4;
}
/*
.base_box3 div:nth-of-type(1) {
    padding: 0 0 100px 0;
} */

.box2 {
    left: 10px;
    width: 400px;
    height: 150px;
    border-style: solid;
    border-width: thin;
    background-color: #FFEFEF;
    z-index: 3;
}

.box3 {
    left: 20px;
    width: 400px;
    height: 150px;
    border-style: solid;
    border-width: thin;
    background-color: #FFEFEF;
    z-index: 2;
}

.box4 {
    left: 30px;
    width: 400px;
    height: 150px;
    border-style: solid;
    border-width: thin;
    background-color: #FFEFEF;
    z-index: 1;
}

.box p:nth-of-type(1) {
    display: flex;
    margin: 55px 0px 0px 20px;
}

.box p:nth-of-type(2) {
    display: flex;
    margin: 30px 0px 0px 300px;
}